
* {
  background-color: rgb(24, 24, 160);
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.navbar {
 

}

.Body {
  
  text-align: left;

}

.App {

  padding: 20px;
}

.logo {
  height: 40px;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}

.menu {
  height: 40px;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
}

.image {
 display: flex;
 justify-content: flex-end;
 margin-right: 10px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column; /* Stack buttons vertically */
  width: 260px; /* Ensure buttons span the full width */
}

.btn {
  background-color: white;
  color: black;
  /* Your button styles go here */
}

.btn2 {
  background-color:black;
  color: white;
  /* Your button styles go here */
}
  
